In [88]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Za nalogo bomo uporabili dataset covid obolenj.

In [94]:
df = pd.read_csv("data/covid_confirmed_global.csv")
df

,Date,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,3/2/23,209358,334408,271463,47875,105277,11,9106,10044125,446819,...,1034303,251071,12014,551986,11526937,703228,535,11945,343079,264127
1136,3/3/23,209362,334427,271469,47875,105277,11,9106,10044125,446819,...,1034303,251071,12014,552014,11526950,703228,535,11945,343079,264127
1137,3/4/23,209369,334427,271469,47875,105277,11,9106,10044125,446819,...,1034303,251071,12014,552051,11526962,703228,535,11945,343079,264127
1138,3/5/23,209390,334427,271477,47875,105277,11,9106,10044125,446819,...,1034303,251071,12014,552051,11526966,703228,535,11945,343135,264127
1139,3/6/23,209406,334427,271477,47875,105277,11,9106,10044957,446819,...,1034303,251071,12014,552125,11526966,703228,535,11945,343135,264127

# Naloga 1

Spremenite `Date` column v `datetime` datatip in ga uporabite kot `index` naših podatkov.

---

# Naloga 2

V grafu prikažite število obolenj za leto 2021 za sledeče države:

![naloga2](./images/naloga2.PNG)

In [97]:
countries = ["Spain", "Italy", "France", "Germany", "Sweden", "Finland"]

---

# Naloga 3

Pridobite povprečno vrednost na mesečni ravni. Nato grafično prikažite za sledeče države:

![naloga3](./images/naloga3.PNG)

In [101]:
countries = ["Spain", "Italy", "France", "Germany", "Sweden", "Finland"]